<div style='float:left;'>
  <h1><%= link_to 'Hostel Helper', root_path %></h1>
</div>

<div style='float:right;'>
  <% if user_signed_in? %>
  <%= link_to 'Beds', beds_path %>
  <%= link_to 'Reservations', reservations_path %>
  <%= link_to 'Account Settings', edit_user_registration_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</div>